@use '/src/app/mixins.scss' as mixins;

.cars-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;

  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
}
