.car {
  display: flex;
  flex-direction: column;

  gap: 6px;

  padding: 6px;

  border: 1px solid black;
  border-radius: 8px;

  &-field {
    &-content {
      display: flex;
      align-items: center;

      gap: 8px;

      &-title {
        font-weight: bold;
      }
    }
    & {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }

    &-edit-mode {
      display: flex;
      align-items: center;

      gap: 8px;
    }
  }
}
